@import 'tailwindcss';

@import '../components/theme.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-base;
    @apply antialiased;
    overflow: hidden;

    /* shape-rendering: auto; */
    /* --webkit-font-smoothing: antialiased; */
    /* -webkit-font-smoothing: subpixel-antialiased; */
  }

  @supports (scrollbar-width: auto) {
    .overflow-y-auto,
    .overflow-x-auto,
    .overflow-auto {
      overflow-anchor: none;
      scrollbar-color: var(--gray-500) transparent;
      scrollbar-width: thin;
    }
  }

  /* Legacy browsers with `::-webkit-scrollbar-*` support */
  @supports selector(::-webkit-scrollbar) {
    .overflow-y-auto::-webkit-scrollbar-thumb,
    .overflow-x-auto::-webkit-scrollbar-thumb,
    .overflow-auto::-webkit-scrollbar-thumb {
      background: transparent;
    }
    .overflow-y-auto::-webkit-scrollbar-track,
    .overflow-x-auto::-webkit-scrollbar-track,
    .overflow-auto::-webkit-scrollbar-track {
      background: var(--gray-600);
    }

    .overflow-y-auto::-webkit-scrollbar,
    .overflow-x-auto::-webkit-scrollbar,
    .overflow-auto::-webkit-scrollbar {
      max-width: 5px;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-input: var(--input);
  --color-link: var(--link);
  --color-ring: var(--ring);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-950: var(--gray-950);

  --color-grayAlpha-50: oklch(var(--grayAlpha-50));
  --color-grayAlpha-100: oklch(var(--grayAlpha-100));
  --color-grayAlpha-200: oklch(var(--grayAlpha-200));
  --color-grayAlpha-300: oklch(var(--grayAlpha-300));
  --color-grayAlpha-400: oklch(var(--grayAlpha-400));
  --color-grayAlpha-500: oklch(var(--grayAlpha-500));
  --color-grayAlpha-600: oklch(var(--grayAlpha-600));
  --color-grayAlpha-700: oklch(var(--grayAlpha-700));
  --color-grayAlpha-800: oklch(var(--grayAlpha-800));
  --color-grayAlpha-900: oklch(var(--grayAlpha-900));
  --color-grayAlpha-950: oklch(var(--grayAlpha-950));

  --color-red-50: #fdf3f3;
  --color-red-100: #fbe9e8;
  --color-red-200: #f7d4d4;
  --color-red-300: #f0b1b1;
  --color-red-400: #e78587;
  --color-red-500: #d75056;
  --color-red-600: #c43a46;
  --color-red-700: #a52b3a;
  --color-red-800: #8a2735;
  --color-red-900: #772433;
  --color-red-950: #420f18;

  --color-orange-50: #fdf6ef;
  --color-orange-100: #fbead9;
  --color-orange-200: #f7d2b1;
  --color-orange-300: #f1b480;
  --color-orange-400: #ea8c4d;
  --color-orange-500: #e67333;
  --color-orange-600: #d65520;
  --color-orange-700: #b2401c;
  --color-orange-800: #8e341e;
  --color-orange-900: #732d1b;
  --color-orange-950: #3e140c;

  --color-yellow-50: #fdfbe9;
  --color-yellow-100: #faf7c7;
  --color-yellow-200: #f7ec91;
  --color-yellow-300: #f1db53;
  --color-yellow-400: #ebc724;
  --color-yellow-500: #dcb016;
  --color-yellow-600: #c28c11;
  --color-yellow-700: #976211;
  --color-yellow-800: #7d4f16;
  --color-yellow-900: #6b4118;
  --color-yellow-950: #3e220a;

  --text-xs: 12px;
  --text-sm: 13px;
  --text-base: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 28px;

  --radius-none: 0px;
  --radius: 0.375rem;
  --radius-sm: 0.125rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;
  --radius-4xl: 2rem;
  --radius-5xl: 3rem;
  --radius-full: 9999px;

  --shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.15),
    0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  --shadow-1: lch(0 0 0 / 0.022) 0px 3px 6px -2px,
    lch(0 0 0 / 0.044) 0px 1px 1px;

  --font-sans: 'Geist Variable', 'Helvetica Neue', 'Helvetica', 'Arial',
    sans-serif;
  --font-mono: 'Geist Mono Variable', monaco, Consolas, 'Lucida Console',
    monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
}

@layer base {
  .editor-container .heading-node:first-child {
    margin-top: 0 !important;
  }

  .editor-container .paragraph-node:first-child {
    margin-top: 0 !important;
  }

  .tiptap {
    outline: none;
    border: none;

    :first-child {
      margin-top: 0;
    }

    p.is-editor-empty:before {
      @apply text-muted-foreground/70;

      font-size: 14px !important;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }

    strong {
      font-weight: 500;
    }

    li p {
      margin-top: 0 !important;
    }

    pre {
      @apply bg-grayAlpha-100 text-foreground p-4 rounded-md w-fit;
      margin: 1.5rem 0;

      code {
        background: none;
        color: inherit;
        font-size: 0.8rem;
        padding: 0;
      }

      /* Code styling */
      .hljs-comment,
      .hljs-quote {
        @apply text-muted-foreground;
      }

      .hljs-variable,
      .hljs-template-variable,
      .hljs-attribute,
      .hljs-tag,
      .hljs-regexp,
      .hljs-link,
      .hljs-name,
      .hljs-selector-id,
      .hljs-selector-class {
        color: var(--custom-color-4); /* #886dbc */
      }

      .hljs-number,
      .hljs-meta,
      .hljs-built_in,
      .hljs-builtin-name,
      .hljs-literal,
      .hljs-type,
      .hljs-params {
        color: var(--custom-color-2); /* #7b8a34 */
      }

      .hljs-string,
      .hljs-symbol,
      .hljs-bullet {
        color: var(--custom-color-3); /* #1c91a8 */
      }

      .hljs-title,
      .hljs-section {
        color: var(--custom-color-1); /* #b56455 */
      }

      .hljs-keyword,
      .hljs-selector-tag {
        color: var(--custom-color-5); /* #ad6e30 */
      }

      .hljs-emphasis {
        font-style: italic;
      }

      .hljs-strong {
        font-weight: 700;
      }
    }
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
