@tailwind base;

@layer base {
  :root {
    --background: oklch(91.28% 0 0);
    --background-2: oklch(95.21% 0 0);
    --background-3: oklch(100% 0 0);
    --foreground: oklch(0% 0 0);
    --popover: oklch(93.05% 0 0);
    --popover-foreground: oklch(0% 0 0);
    --primary: #4187c0;
    --primary-foreground: oklch(100% 0 0);
    --secondary: 210 40% 96.1%;
    --secondary-foreground: oklch(0% 0 0);
    --muted: oklch(0% 0 0 / 19.22%);
    --muted-foreground: oklch(49.26% 0 0);
    --accent: oklch(100% 0 0);
    --accent-foreground: oklch(0% 0 0);
    --destructive: oklch(61.34% 0.162 23.58);
    --destructive-foreground: oklch(100% 0 0);
    --warning: oklch(70.43% 0.14390424619548714 87.9634104985311);
    --warning-foreground: oklch(100% 0 0);
    --success: oklch(64.93% 0.107 154.24);
    --success-foreground: oklch(100% 0 0);
    --border: oklch(0% 0 0 / 19.22%);
    --border-dark: oklch(0% 0 0 / 39.22%);
    --input: oklch(0% 0 0 / 6.27%);
    --link: oklch(0% 0 0 / 6.27%);
    --ring: 221.2 83.2% 53.3%;
    --radius: 8px;
    --sidebar: hsl(0 0% 98%);
    --sidebar-foreground: hsl(240 5.3% 26.1%);
    --sidebar-primary: hsl(240 5.9% 10%);
    --sidebar-primary-foreground: hsl(0 0% 98%);
    --sidebar-accent: hsl(240 4.8% 95.9%);
    --sidebar-accent-foreground: hsl(240 5.9% 10%);
    --sidebar-border: hsl(220 13% 91%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);
  }

  .dark {
    --background: oklch(21.34% 0 0);
    --background-2: oklch(25.2% 0 0);
    --background-3: oklch(28.5% 0 0);
    --foreground: oklch(92.8% 0 0);
    --popover: oklch(28.5% 0 0);
    --popover-foreground: oklch(92.8% 0 0);
    --primary: #4187c0;
    --primary-foreground: oklch(92.8% 0 0);
    --secondary: 210 40% 96.1%;
    --secondary-foreground: oklch(92.8% 0 0);
    --muted: oklch(100% 0 0 / 13.33%);
    --muted-foreground: oklch(76.99% 0 0);
    --accent: oklch(95.81% 0 0);
    --accent-foreground: oklch(0% 0 0);
    --warning: oklch(70.43% 0.14390424619548714 87.9634104985311);
    --warning-foreground: oklch(100% 0 0);
    --destructive: oklch(61.34% 0.162 23.58);
    --destructive-foreground: oklch(100% 0 0);
    --success: oklch(64.93% 0.107 154.24);
    --success-foreground: oklch(100% 0 0);
    --border: oklch(100% 0 0 / 13.33%);
    --border-dark: oklch(100% 0 0 / 39.33%);
    --input: oklch(100% 0 0 / 10.59%);
    --ring: 221.2 83.2% 53.3%;
  }

  :root {
    --gray-50: #f9f9f9;
    --gray-100: #efefef;
    --gray-200: #e8e8e8;
    --gray-300: #e0e0e0;
    --gray-400: #cecece;
    --gray-500: #d8d8d8;
    --gray-600: #bbbbbb;
    --gray-700: #8d8d8d;
    --gray-800: #838383;
    --gray-900: #646464;
    --gray-950: #202020;

    --grayAlpha-50: 0% 0 0 / 2.35%;
    --grayAlpha-100: 0% 0 0 / 6.27%;
    --grayAlpha-200: 0% 0 0 / 9.02%;
    --grayAlpha-300: 0% 0 0 / 12.16%;
    --grayAlpha-400: 0% 0 0 / 15.29%;
    --grayAlpha-500: 0% 0 0 / 19.22%;
    --grayAlpha-600: 0% 0 0 / 26.67%;
    --grayAlpha-700: 0% 0 0 / 44.71%;
    --grayAlpha-800: 0% 0 0 / 48.63%;
    --grayAlpha-900: 0% 0 0 / 60.78%;
    --grayAlpha-950: 0% 0 0 / 87.45%;

    /* Colors for different status */
    --status-pill-0: #d94b0e26;
    --status-icon-0: #d94b0e;

    --status-pill-1: #9f3def26;
    --status-icon-1: #9f3def;

    --status-pill-2: #8e862c26;
    --status-icon-2: #8e862c;

    --status-pill-3: #5c5c5c26;
    --status-icon-3: #5c5c5c;

    --status-pill-4: #c28c1126;
    --status-icon-4: #c28c11;

    --status-pill-5: #3f8ef726;
    --status-icon-5: #3f8ef7;

    --status-pill-6: #3caf2026;
    --status-icon-6: #3caf20;

    /* Avatar colors */
    --custom-color-1: #b56455;
    --custom-color-2: #7b8a34;
    --custom-color-3: #1c91a8;
    --custom-color-4: #886dbc;
    --custom-color-5: #ad6e30;
    --custom-color-6: #54935b;
    --custom-color-7: #4187c0;
    --custom-color-8: #a165a1;
    --custom-color-9: #997d1d;
    --custom-color-10: #2b9684;
    --custom-color-11: #2b9684;
    --custom-color-12: #b0617c;

    /* Team Colors */
    --team-color-1: #89c794;
    --team-color-2: #d2a1bb;
    --team-color-3: #90c5d6;

    --avatar-1: oklch(60% 0.13 240);
  }

  .dark {
    --gray-50: #191919;
    --gray-100: #222222;
    --gray-200: #2a2a2a;
    --gray-300: #313131;
    --gray-400: #3a3a3a;
    --gray-500: #484848;
    --gray-600: #606060;
    --gray-700: #6e6e6e;
    --gray-800: #7b7b7b;
    --gray-900: #b4b4b4;
    --gray-950: #eeeeee;

    --grayAlpha-50: 100% 0 0 / 3.53%;
    --grayAlpha-100: 100% 0 0 / 7.06%;
    --grayAlpha-200: 100% 0 0 / 10.59%;
    --grayAlpha-300: 100% 0 0 / 13.33%;
    --grayAlpha-400: 100% 0 0 / 17.25%;
    --grayAlpha-500: 100% 0 0 / 23.14%;
    --grayAlpha-600: 100% 0 0 / 33.33%;
    --grayAlpha-700: 100% 0 0 / 39.22%;
    --grayAlpha-800: 100% 0 0 / 44.31%;
    --grayAlpha-900: 100% 0 0 / 68.63%;
    --grayAlpha-950: 100% 0 0 / 92.94%;

    /* Colors for different status */
    --status-pill-0: #c06142;
    --status-icon-0: #c06142;

    --status-pill-1: #886dbc;
    --status-icon-1: #886dbc;

    --status-pill-2: #83872c;
    --status-icon-2: #83872c;

    --status-pill-3: #b4b4b4;
    --status-icon-3: #5c5c5c;

    --status-pill-4: #c28c11;
    --status-icon-4: #c28c11;

    --status-pill-5: #4187c0;
    --status-icon-5: #4187c0;

    --status-pill-6: #5d9151;
    --status-icon-6: #5d9151;

    /* Team Colors */
    --team-color-1: #54935b;
    --team-color-2: #a165a1;
    --team-color-3: #4187c0;
    --sidebar: hsl(240 5.9% 10%);
    --sidebar-foreground: hsl(240 4.8% 95.9%);
    --sidebar-primary: hsl(224.3 76.3% 48%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7% 15.9%);
    --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
    --sidebar-border: hsl(240 3.7% 15.9%);
    --sidebar-ring: hsl(217.2 91.2% 59.8%);

    --avatar-1: oklch(60% 0.13 240);
  }
}
